@import "compass";
@import "compass/reset";
@import "susy";


// --------------------------------------------
// general settings
// Susy & Compass use HTML hacks to support IE 6 and 7. You can turn that off:

// $legacy-support-for-ie6 : false;
// $legacy-support-for-ie7 : true;


// --------------------------------------------
// typography settings

$relative-font-sizing : true;
$base-font-size       : 19px;
$base-line-height     : 24px;

// establish your vertical baseline grid.

@include establish-baseline;
$fontSmoothing        : antialiased;


// --------------------------------------------
// colors settings

$white			: #F8F7F6;
$beige			: #F7F5F0;
$black			: #202020;
$gray           : #C0BEBA;
$graylight      : #E2E0DC;
$graydark       : #333333;
$yellow			: #F5C33D;
$link           : $black;

$border 		: 1px solid $yellow;
$grid-background-column-color: #eee;


// --------------------------------------------
// grid settings

$total-columns    : 12;
$column-width     : 4em;
$gutter-width     : 2em;
$grid-padding     : 0em;

$small-columns    : 2;
$medium-columns   : 6;
$large-columns    : 12;

$container-width  : container-outer-width($large-columns);


// --------------------------------------------
// layout settings

@include border-box-sizing;

$container-style: fluid;
.fluid-container { @include container; 
					
					/*@include at-breakpoint($small-columns) { @include susy-grid-background; }
					@include at-breakpoint($medium-columns) { @include susy-grid-background; }
					@include at-breakpoint($large-columns) { @include susy-grid-background; }*/
				 }


// --------------------------------------------
// small

#header-wrap {@include span-columns(2,2);}
#cover {@include span-columns(12,12);height: $base-line-height * 30;}
#menu {@include span-columns(1,2);}
#languages {@include span-columns(1 omega,2);text-align: right;}
#navigation-menu {display: none;}
#navigation-languages {display:none;}
#header {padding:$gutter-width / 2;}
#content {padding:$gutter-width / 2;}
#footer {padding:$gutter-width / 2;}
blockquote {padding-left: $gutter-width;}


// --------------------------------------------
// medium



@include at-breakpoint($medium-columns) {

	#header-wrap {@include span-columns(6,6);}
	#cover {@include span-columns(12,12);height: $base-line-height * 50;}
	article {
			 

			 aside {@include span-columns(6,6);}
			 .bodytext {@include span-columns(5 omega,6); padding-right: 2em; padding-bottom: $base-line-height * 6;}
			 blockquote {@include prefix(1); }
			}
	#footer {@include span-columns(6,6);
		nav {@include span-columns(5 omega,6);}
	}

}

// --------------------------------------------
// large




@include at-breakpoint($large-columns) {
	#header-wrap {@include span-columns(12,12); position:fixed; top:0; z-index: 1; background: $white;}
	#header {@include squish(1,0);}
	#banner {@include span-columns(6,11);}
	#menu {@include span-columns(4,11);padding-right: 2em;  margin-bottom: $base-line-height * 3; border-right:$border;}
	#languages {@include span-columns(1 omega,11);text-align: left;}
	#navigation-menu {display: block;}
	#navigation-languages {display:block;}
	#cover {@include span-columns(12,12);height: $base-line-height * 50;}
	#content {@include span-columns(12,12);margin-top: $base-line-height * 15;}
	
	#slideshow {@include span-columns(6,10);}
	#footer {@include span-columns(12,12);
		nav {@include span-columns(5 omega,12);}
	}
	
	

	article {@include squish(1,1);
			 

			 aside {@include span-columns(6,10);}
			 .bodytext {@include span-columns(4 omega,10); padding-right: 2em; padding-bottom: $base-line-height * 6; border-right:$border;}
			 blockquote {@include prefix(1); }
			}

	}



// --------------------------------------------
// styles


body {	background: $white;
		font-family: "futura-pt",sans-serif;
		-webkit-font-smoothing: $fontSmoothing; 
		color: $graydark;

		padding-bottom: $base-line-height * 6;
		a {text-decoration:none;
		   color:$link;}
		a:hover {color:$gray;}
		.active {color:$black;font-weight: bold;}
		a.active:hover {color:$black;}
		img {width: 100%;}
		video {	max-width: 100%;
				height: auto; }
		h1 {text-transform:lowercase;font-size:1.5em;padding-bottom:$base-line-height;}
		p {padding-bottom: $base-line-height / 2;}
		blockquote {font-family: "kepler-std"; border-left:$border; margin-top: $base-line-height; margin-bottom: $base-line-height; }

		#header-wrap {

			
			
			
			



			#header { padding-top: $base-line-height * 2;

				#banner {

					.logo {
						width: $base-line-height * 5;
  						height: $base-line-height * 5;
  						
  						text-align: center;
  						text-transform: uppercase;
  						font-size: 2em;
  						padding-top: $base-font-size * 2.5;
  						border: $border;
  						margin-bottom: $base-line-height;
  						@include border-radius($base-line-height * 2.5);
  					}

  					h2 {padding-bottom: $base-line-height;}



				}
				
				.showmenu {color:$yellow;}
				#menu {text-transform: lowercase; }
				#languages {text-transform: lowercase; } }



		}

		

		#content {
			z-index: -1;
			

			.bodytext {

				img {	padding-top: $base-line-height; }
				a {font-weight: bold;}
				.photoset-grid {margin-bottom: $base-line-height;}
			

			}
		}

		#footer {padding-top:0;margin-top:0;}

	}



/*	--------------------------------------------------
	Scroll Up
-------------------------------------------------- */


#scrollUp {
	bottom: $base-line-height;
	right: $base-line-height;
	height: 38px;  /* Height of image */
	width: 38px; /* Width of image */
	background: url(/images/scrollup/top.png) no-repeat;
	z-index: 0;

}


/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -300px;
		width: 520px;
		background: $beige;
		position: absolute;
		z-index: 101;
		padding: 30px 40px 34px;
		/*-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;*/
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		img {width: 100%;}
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: $base-font-size * 2;
		line-height: $base-line-height;
		position: absolute;
		top: 8px;
		right: 11px;
		color: $black;
		font-weight: bold;
		cursor: pointer;
		a {text-decoration: none;}
		} 

/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	
	border: 0;
	left: -5px;
	background: transparent;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(/images/slide/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: $white;
	padding-top: $base-line-height;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}




.bx-wrapper .bx-pager.bx-default-pager a {
	background: tint($yellow, 30%);
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: $graydark;
}

/* DIRECTION CONTROLS (NEXT / PREV) 

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(/images/slide/controls.png) no-repeat 0 -32px;
	
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(/images/slide/controls.png) no-repeat -43px -32px;
	
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9998;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) 

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(/images/slide/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(/images/slide/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	/*position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;*/
	padding-top:$base-line-height / 2;
	
}

.bx-wrapper .bx-caption span {
	/*color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;*/
	font-size: 0.8em;


}


@import "fresco";
