<div id="footer">

	<nav>
        <% link_to 'http://www.coruna.es/' do %>
          <%= image_tag 'http://ciav.s3.amazonaws.com/logos/logo_ayuntamiento_coruna.png', :class => 'tooltip', :title => 'Ayuntamiento de A Coruña', :alt => 'Ayuntamiento de A Coruña' %>
        <% end %>
        
        <% link_to 'http://www.mityc.es/' do %>
          <%= image_tag 'http://ciav.s3.amazonaws.com/logos/logo-ministerio.png', :class => 'tooltip', :title => 'Gobierno de España. Ministerio de Industria, Energía y Turismo', :alt => 'Gobierno de España. Ministerio de Industria, Energía y Turismo' %>
        <% end %>
        
		<ul>
     	   <li><%= link_to I18n.t('layout.info'), I18n.t('paths.info') %></li>
      	  <li><%= link_to I18n.t('layout.legal'), info_path %></li>
			
		</ul>

	</nav>
	
</div>