<div id="header-wrap">
	<div id="header">
		<div class="fluid-container">
			<div id="banner">
				<h1><a href="/">CIAV</a></h1>
				<%= yield_content :tagline %>
			</div>
			<div id="menu">
				<nav id="navigation">
					<ul>
						<%= draw_page_nav %>
					</ul>
				</nav>
			</div>
			<div id="languages">
				<nav>
					<ul>
						<%= draw_locale_select %>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>