<div id="header">
	<div class="container">
		<div id="banner">
			<h1><a href="/">CIAV</a></h1>
		</div>
		<div id="menu">
			<nav id="navigation">
				<ul>
					<%= draw_page_nav %>
				</ul>
			</nav>
			<a href="#navigation" class="toggle">show-right</a>
		</div>
		<div id="languages">
			<nav>
				<ul>
					<%= draw_locale_select %>
				</ul>
			</nav>
		</div>
	</div>
</div>