---
title: function
layout: layout
priority: 1.0
---


<article itemscope itemtype="http://schema.org/Article">
	<aside>
		
			<ul class="bxslider">
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/_DSC3586.jpg', :class => 'tooltip', :title => 'La Torre de Hércules es el único vestigio de señalización marítima construido en el Imperio Romano que continúa activo, tanto en el litoral mediterráneo como en el atlántico.', :alt => 'torre' %></li>
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/function01.jpg', :class => 'tooltip', :title => 'Será en 1883 cuando se instale una nueva lámpara mecánica que funcionaba con parafina, cuya luz era reflejada por 48 cristales.', :alt => 'linterna' %></li>
			</ul>
	</aside>
	<div class="bodytext">
		<header>
			<hgroup>
				<h1 itemprop="name"><%= I18n.t('layout.function') %></h1>
			</hgroup>
		</header>
		<section>
			<%= partial "content/#{I18n.locale}/function" %>
		</section>
		<footer>
		</footer>
	</div>
</article>
