---
title: index
layout: layout
priority: 1.0
---

<% content_for :tagline do %>
	<h2><%= I18n.t('site.description') %></h2>
<% end %>

<% content_for :slideshow do %>
	<div id="cover" class="index_slide">
	</div>
<% end %>


<% content_for :notice do %>
	<div id="notice" class="reveal-modal">
		<%= partial "content/#{I18n.locale}/notice" %>
			
			<a class="close-reveal-modal">&#215;</a>
	</div>
<% end %>





