---
title: mythology
layout: layout
priority: 1.0
---


<article itemscope itemtype="http://schema.org/Article">
	<aside>
		
			<ul class="bxslider">
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/seoane.jpg', :class => 'tooltip', :title => 'Luis Seoane', :alt => 'prueba' %></li>
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/lugris.jpg', :class => 'tooltip', :title => 'Urbano Lugrís', :alt => 'prueba' %></li>
				  
			</ul>
	</aside>
	<div class="bodytext">
		<header>
			<hgroup>
				<h1 itemprop="name"><%= I18n.t('layout.mythology') %></h1>
			</hgroup>
		</header>
		<section>
			<%= partial "content/#{I18n.locale}/mythology" %>
		</section>
		<footer>
		</footer>
	</div>
</Article>